@import 'tailwindcss';

:root {
  --bg-primary: #0d0f14;
  --bg-surface: #1a1d27;
  --primary: #0f6fff;
  --accent: #00d4ff;
  --text-primary: #f0f4ff;
  --text-muted: #8b92a5;
  --border: #2a2d3e;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #0d0f14;
    color: #f0f4ff;
    font-family: var(--font-ibm-plex);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-rajdhani);
    font-weight: 700;
  }
}

